# Pandas Basics

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.Series([1,2,3,4],['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
dt={'a':20,'b':200,'c':2000,'d':15}
dt

{'a': 20, 'b': 200, 'c': 2000, 'd': 15}

In [5]:
pd.Series(dt)

a      20
b     200
c    2000
d      15
dtype: int64

In [6]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
s1=pd.Series([1,2,3,4,5],['a','b','c','d','e'])

In [8]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
s2=pd.Series([1,2,7,4,2],['a','b','c','f','e'])

In [10]:
s2

a    1
b    2
c    7
f    4
e    2
dtype: int64

In [11]:
s1+s2

a     2.0
b     4.0
c    10.0
d     NaN
e     7.0
f     NaN
dtype: float64