In [1]:
import numpy as np
import pandas as pd

In [12]:
a={'me':[3,5,np.NaN],'f1':[4,np.NaN,np.NaN],'f2':[3,5,4]}
a

{'me': [3, 5, nan], 'f1': [4, nan, nan], 'f2': [3, 5, 4]}

In [13]:
df=pd.DataFrame(a,['m1','m2','m3'])
df

     me   f1  f2
m1  3.0  4.0   3
m2  5.0  NaN   5
m3  NaN  NaN   4

In [5]:
df.fillna(np.mean(df,axis=0))

     me   f1  f2
m1  3.0  4.0   3
m2  5.0  4.0   5
m3  4.0  4.0   4

In [6]:
np.mean(df,axis=0)

me    4.0
f1    4.0
f2    4.0
dtype: float64

In [16]:
df['me'].fillna(df['me'].mean(),inplace=True)

In [17]:
df

     me   f1  f2
m1  3.0  4.0   3
m2  5.0  NaN   5
m3  4.0  NaN   4