In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.DataFrame(np.random.randn(3,4),['r1','r2','r3'],['c1','c2','c3','c4'])
df

          c1        c2        c3        c4
r1 -0.443554 -1.177160  1.008623 -1.783924
r2 -0.661369 -1.481430  1.987144  0.410783
r3 -0.871904 -0.683293  0.240653  2.390828

In [11]:
df

          c1        c2        c3        c4
r1 -0.443554 -1.177160  1.008623 -1.783924
r2 -0.661369 -1.481430  1.987144  0.410783
r3 -0.871904 -0.683293  0.240653  2.390828

In [10]:
df[(df['c4']>0)|(df['c3']>0)]

          c1        c2        c3        c4
r1 -0.443554 -1.177160  1.008623 -1.783924
r2 -0.661369 -1.481430  1.987144  0.410783
r3 -0.871904 -0.683293  0.240653  2.390828

In [12]:
df[(df['c4']>0)&(df['c3']>0)]

          c1        c2        c3        c4
r2 -0.661369 -1.481430  1.987144  0.410783
r3 -0.871904 -0.683293  0.240653  2.390828

In [16]:
nv=np.array(['row1','row2','row3'])
nv

array(['row1', 'row2', 'row3'], dtype='<U4')

In [15]:
df['new']=nv
df

          c1        c2        c3        c4   new
r1 -0.443554 -1.177160  1.008623 -1.783924  row1
r2 -0.661369 -1.481430  1.987144  0.410783  row2
r3 -0.871904 -0.683293  0.240653  2.390828  row3

In [17]:
p=nv

In [18]:
p

array(['row1', 'row2', 'row3'], dtype='<U4')

In [21]:
p[:]=39
p

array(['39', '39', '39'], dtype='<U4')

In [22]:
nv

array(['39', '39', '39'], dtype='<U4')