In [1]:
import numpy as np
import pandas as pd

# Data Frames in Pandas

In [10]:
a=np.random.randn(3,4)
a

array([[-0.47348072,  0.11410148,  0.06764364, -1.19611506],
       [ 0.22715095, -0.62805129,  0.96709757, -0.20191557],
       [-0.35390202, -0.39186306,  0.37693241, -0.57965764]])

In [11]:
df=pd.DataFrame(a,['r1','r2','r3'],['c1','c2','c3','c4'])
df

          c1        c2        c3        c4
r1 -0.473481  0.114101  0.067644 -1.196115
r2  0.227151 -0.628051  0.967098 -0.201916
r3 -0.353902 -0.391863  0.376932 -0.579658

In [16]:
df[['c3','c1']]

          c3        c1
r1  0.067644 -0.473481
r2  0.967098  0.227151
r3  0.376932 -0.353902

In [21]:
df[['c2']]

          c2
r1  0.114101
r2 -0.628051
r3 -0.391863

In [25]:
df['c5']=df['c1']*df['c3']
df

          c1        c2        c3        c4        c5
r1 -0.473481  0.114101  0.067644 -1.196115 -0.032028
r2  0.227151 -0.628051  0.967098 -0.201916  0.219677
r3 -0.353902 -0.391863  0.376932 -0.579658 -0.133397

In [26]:
df.drop('c2',axis=1,inplace=True)
df

          c1        c3        c4        c5
r1 -0.473481  0.067644 -1.196115 -0.032028
r2  0.227151  0.967098 -0.201916  0.219677
r3 -0.353902  0.376932 -0.579658 -0.133397

In [34]:
df.drop('r2',inplace=True)
df

          c1        c3        c4        c5
r1 -0.473481  0.067644 -1.196115 -0.032028
r3 -0.353902  0.376932 -0.579658 -0.133397

In [36]:
df['c4']['r3']

-0.579657638689703